@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;700&display=swap');

*{
    margin: 0;padding: 0;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
}

body{
    height:auto;
    width:100%;

}

.container{
    height:auto;
    display: flex;
    width:100%;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}