@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

*{
    margin: 0;padding: 0;
    font-family: 'Roboto Mono',sans-serif;
    font-weight: 400;
}

body{
    height:auto;
    width:100%;
   background-color: whitesmoke;
}

.container{
    height:auto;
    display: flex;
    width:100%;
    align-items: center;
    
    flex-direction: column;
}

.maintitle{
    margin-top: 10%;
    font-size: 30px;
}
.gsheetinput{
    margin-top: 3%;
}

.btns{
    display: flex;
    flex-direction: row;
    width:100%;
    height:auto;
    /* align-items: center; */
    justify-content: center;
    margin-top: 3%;
}

#table{
    margin-top: 3%;
    border:1px solid black;
    border-bottom: none;
}

.msg{
    margin:3% 0;
}

td{
    width:auto;
    padding:10px;
    border-bottom: 1px solid gray;
}

.btns button{
    margin:0 20px;
    font-size: 14px;
}

.gsheetinput{
    border:none;
    color:black;
    border-bottom: 2px solid black;
    width:400px;
    height:30px;
    padding:0px 10px;
    background-color: whitesmoke;

}
textarea:focus, input:focus{
    outline: none;
}

#authorize_button{
    border:none;
    /* background-color: black; */
    border:2px solid rgb(0, 153, 255);
    color:rgb(0, 152, 253);
    height:50px;
    width:auto;
    padding:0px 30px;
    transition: 700ms ease;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
}
#authorize_button::before{
    content:'';
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background-color: rgb(0, 153, 255);
    transition: 300ms ease-out;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
}

#authorize_button:hover::before{
    transform:scaleY(1)
}
#authorize_button:hover{
    color:white;
}

#signout_button{
    border:none;
    /* background-color: black; */
    color:red;
    border:2px solid rgb(233, 51, 51);
    height:50px;
    width:auto;
    padding:0px 30px;
    transition: 700ms ease;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
}
#signout_button::before{
    content:'';
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background-color: rgb(233, 51, 51);
    transition: 300ms ease-out;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
}

#signout_button:hover::before{
    transform:scaleY(1)
}
#signout_button:hover{
    transform:scaleY(1);
    color:white;
}
#downloadExcelbtn{
    border:none;
    /* background-color: black; */
    color:green;
    border:2px solid green;
    height:50px;
    width:auto;
    padding:0px 30px;
    transition: 700ms ease;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
}
#downloadExcelbtn::before{
    content:'';
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background-color: green;
    transition: 300ms ease-out;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
}

#downloadExcelbtn:hover::before{
    transform:scaleY(1)
}
#downloadExcelbtn:hover{
    transform:scaleY(1);
    color:white;
}
